html {
    background-color: #333;
    font-size: 16px;
    margin: 5px 0;
}

footer {
    position: fixed;
    height: 15px;
    width: 100%;
    color: #d2d2d2;
    background-color: #252422;
    text-align: center;
    bottom: 0px;
    font-size: .1em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
    line-height: 2em;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4
}

/*Global*/
.container {
    width: 86%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.authorbox {
    padding: 1em;
    background: #333;
    color: #999;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.dark {
    padding: .5em;
    background: #222;
    color: #999;
    margin-top: .3em;
    margin-bottom: 1em;
}

header {
    background: #777;
    color: #333;
    padding-top: .1em;
    min-height: 4em;
    border-bottom: #252422 3em solid;
}


img {
    height: 6em;
    vertical-align: bottom;
}

header a {
    color: #222;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
}


header li {
    float: left;
    display: inline;
    padding: .1em 2em .1em;
}

header #branding {
    float: left;
}

    header #branding h1 {
        display: inline;
    }

header nav {
    float: right;
    margin-top: .3em;
}

header .highlight, header .current a {
    color: #000;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

section a {
    color: #111;
}

    section a:hover {
        color: #d2d2d2;
    }

#container h1 {
    margin-bottom: 0;
    font-size: 2em;
    line-height: 2em;
}


/*Showcase*/
#showcase {
    min-height: 60em;
    background: url('../img/OceanBlueClouds.jpg') no-repeat;
    background-color: #000;
    background-position: center;
    text-align: center;
    color: #333;
    line-height: 30em;
}



/*boxes*/

#boxes {
    padding-top: 2em;
    background-color: #333;
}

    #boxes .box {
        float: left;
        text-align: center;
        width: 45%;
        padding: 1em;
    }

        #boxes .box img {
            width: 6em;
            height: auto;
        }

    #boxes p, h3 {
        font-size: 1em;
        line-height: 1.4em;
    }

    #boxes .box h3 {
        color: #333;
    }
/*Sidebar*/
aside#sidebar {
    float: right;
    width: 42%;
    margin-top: 1em;
    font-size: 1em;
    line-height: 1em;
}
/*Main-col*/
article#main-col {
    float: left;
    width: 56%;
    font-size: 1em;
    text-align: center;
}





@media print {
    header h1 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    header ul {
        display: none;
    }

    body, header, p {
        font-family: Georgia, serif;
        font-size: 1em;
        line-height: 1em;
        border-bottom: 0;
    }

    #showcase h1 {
        margin-bottom: 0;
        font-size: 0.2em;
        line-height: 4em;
    }
}

@media only screen and (max-width: 500px) {
    #showcase {
        background-size: 100%;
        min-height: 30em;
    }

    html {
        font-size: 13px;
    }
}
